
{% extends "base.html" %}

{% block title %}Locations{% endblock title %}
{% block content %}
<div class="locations-page">

  <div class="hero">
  </div>

  <section class="greenwich-village">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-offset-1 col-md-4">
          <div class="manager">
            <div class="avatar">
              <img src="/assets/img/locations/arianna.png">
            </div>
            <div class="info">
              <p><strong>Arianna Bickle</strong>
              <p>Studio Manager
            </div>
          </div>
          <div class="quote">
            “You might not be here for a long time, but you’re here for a
            good time.”
          </div>
        </div>
        <div class="col-sm-12 col-md-offset-2 col-md-4">
          <div class="studio-name">
            Greenwich Village
          </div>
          <div class="address">
            10 East 8th Street<br>
            New York, NY 10002<br>
            <br>
            212.477.0487
            <br>
            village@mndflmeditation.com
          </div>
          <a class="full-width button" href="{{ url('zingfit-greenwich') }}">
            <button>
              See Schedule
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-image ues">
  </div>

  <section class="greenwich-village">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-offset-1 col-md-4">
          <div class="manager">
            <div class="avatar">
              <img src="/assets/img/locations/arianna.png">
            </div>
            <div class="info">
              <p><strong>Arianna Bickle</strong>
              <p>Studio Manager
            </div>
          </div>
          <div class="quote">
            “Looking forward to growing the MNDFL community uptown.”
          </div>
        </div>
        <div class="col-sm-12 col-md-offset-2 col-md-4">
          <div class="studio-name">
            Upper East Side
          </div>
          <div class="address">
            239 E. 60th Street<br>
            New York, NY 10022<br>
            <br>
            212.477.0601
            <br>
            uppereastside@mndflmeditation.com
          </div>
          <a class="full-width button" href="{{ url('zingfit-UES') }}">
            <button>
              See Schedule
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-image brooklyn">
  </div>

  <section class="greenwich-village">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-offset-1 col-md-4">
          <div class="manager">
            <div class="avatar">
              <img src="/assets/img/locations/matt.JPG">
            </div>
            <div class="info">
              <p><strong>Matt Bradley</strong>
              <p>Studio Manager
            </div>
          </div>
          <div class="quote">
            “Just a bunch of New Yorkers investigating their crazy brains
            together!.”
          </div>
        </div>
        <div class="col-sm-12 col-md-offset-2 col-md-4">
          <div class="studio-name">
            Williamsburg
          </div>
          <div class="address">
            208 N. 8th Street<br>
            Brooklyn, NY 11211<br>
            <br>
            718.218.6060<br>
            williamsburg@mndflmeditation.com
          </div>
          <a class="full-width button" href="{{ url('zingfit-williamsburg') }}">
            <button>
              See Schedule
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>

</div>
{% endblock content %}
