
{% extends "base.html" %}

{% block title %}Style Guide{% endblock title %}
{% block content %}

<section class="style-guide hero bg-light-green">
  <h1>MNDFL Style Guide</h1>
</section>

<div class="container style-guide">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="sg">Typography</h2>
    </div>
  </div>

  <!-- font specimens -->
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="display-big gotham-light">
        Aa
        <p class="gotham-light">Gotham Light</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="display-big gotham-book">
        Aa
        <p class="gotham-book">Gotham Book</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="display-big gotham-medium">
        Aa
        <p class="gotham-medium">Gotham Medium</p>
      </div>
    </div>
  </div>

  <!-- type scale demonstration -->
  <div class="row">
    <div class="col-xs-12">
      <h3 class="hidden-sm">Desktop</h3>
      <h3 class="hidden-lg">Mobile</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1>Heading 1</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2>Heading 2</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p class="body-1">Body 1</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p class="body-2">Body 2</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p class="body-3">Body 3</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p class="body-4">Body 4</p>
    </div>
  </div>

  <!-- logo -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="sg">Logo Asset</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <img class="logo" src="/assets/img/logo-gray.png">
    </div>
  </div>

  <!-- colors -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="sg">Colors</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="color-box light-green">
        <code>#cfe1db</code>
        <p>light-green
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="color-box dark-green">
        <code>#4e674a</code>
        <p>dark-green
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="color-box light-gray">
        <code>#f6f6f6</code>
        <p>light-gray
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="color-box dark-gray">
        <code>#57605d</code>
        <p>dark-gray
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Text Colors</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="color-box text-light">
        <code>#707070</code>
        <p>text-light
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="color-box text-dark">
        <code>#4d4d4d</code>
        <p>text-dark
      </div>
    </div>
  </div>

  <!-- buttons -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="sg">Buttons and Text Links</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Buttons</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-9 col-md-3">
      <button>See Our Locations</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Text Links</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-9 col-md-3">
      <a href="">Explore Our Classes</a>
    </div>
  </div>

</div>
{% endblock content %}
