
{% extends "base.html" %}

{% block title %}Our Classes{% endblock title %}
{% block content %}
<div class="classes" ng-app="class-list" ng-controller="ClassListCtrl">
  <div class="hero">
    <h1>Our Classes</h1>
  </div>

  <section class="section center">
    <h3>
      Our classes are 30, 45 and 60 minutes and are thematic. Since you
      know you best, maybe you should choose what would be most helpful
      for your day!
    </h3>
    <a class="button" href="#pricing">
      <button>
        See Class Pricing
      </button>
    </a>
  </section>

  <section class="section bg-light-gray">
    <div class="container class-list">
      <div class="row">

        <!-- original -->
        <div class="col-xs-12 col-md-4 item">
          <object data="/assets/img/classes/Breath_Icon-01.svg" type="image/svg+xml"></object>
          <div class="title">
            Breath
          </div>
          <div class="info">
            <p>
              Feeling stressed or anxious? This is a good class for you.
              Learn to focus on your breathing in order to become more
              present. Work with the breath in a way that allows you to
              be more calm and not get too lost in your own head.
              MNDFL’s signature meditation class, this practice grounds
              you in the here and now like a cold shower on a hot summer
              day.
            </p>
            <a class="full-width button" href="{{ url('studio-select') }}">
              <button>Book a Cushion</button>
            </a>
          </div>
        </div>


        <!-- original -->
        <div class="col-xs-12 col-md-4 item">
          <object data="/assets/img/classes/Intention-01.svg" type="image/svg+xml">
          </object>
          <div class="title">
            Intention
          </div>
          <div class="info">
            <p>
              Learn how to live more consciously in this contemplative
              class where you develop an intention specific to you,
              based on what you are personally encountering in your
              life. The more we live with intention the happier we are.
            </p>
            <a class="full-width button" href="{{ url('studio-select') }}">
              <button>Book a Cushion</button>
            </a>
          </div>
        </div>


        <!-- original -->
        <div class="col-xs-12 col-md-4 item">
          <object data="/assets/img/classes/Sound_Icon-01.svg" type="image/svg+xml"></object>
          <div class="title">
            Sound
          </div>
          <div class="info">
            <p>
              We are surrounded by sound for most of our waking day so
              it's the perfect object for meditation. In this class we
              relax with the sounds of crystal singing bowls that
              transport you to a state of calm. One of our most popular
              offerings.
            </p>
            <a class="full-width button" href="{{ url('studio-select') }}">
              <button>Book a Cushion</button>
            </a>
          </div>
        </div>


        <!-- original -->
        <div class="col-xs-12 col-md-4 item">
          <object data="/assets/img/classes/Sleep_Icon-01.svg" type="image/svg+xml"></object>
          <div class="title">
            Sleep
          </div>
          <div class="info">
            <p>
              At the end of your workday come in and let us take your
              mind from 100 miles-per-hour to 10. Unwind during a
              guided meditation session meant to put you at ease and
              allow for a smooth transition home and into bed. That
              is, if you can make it to bed. You just might fall
              asleep on our cushion.
            </p>
            <a class="full-width button" href="{{ url('studio-select') }}">
              <button>Book a Cushion</button>
            </a>
          </div>
        </div>


        <!-- original -->
        <div class="col-xs-12 col-md-4 item">
          <object data="/assets/img/classes/Emotions-01.svg" type="image/svg+xml"></object>
          <div class="title">
            Emotions
          </div>
          <div class="info">
            <p>
              Struggling with some strong emotions in your life? This is
              the class for you. While they can seem overwhelming,
              emotions are simply thoughts with a lot of energy behind
              them. In this class we learn to work with that energy,
              seeing it not as good or bad but simply a part of who we
              are, so we can live a life that is productive and full of
              contentment.
            </p>
            <a class="full-width button" href="{{ url('studio-select') }}">
              <button>Book a Cushion</button>
            </a>
          </div>
        </div>


        <!-- original -->
        <div class="col-xs-12 col-md-4 item">
          <object data="/assets/img/classes/Mantra-01.svg" type="image/svg+xml"></object>
          <div class="title">
            Mantra
          </div>
          <div class="info">
            <p>
              If you are seeking a good amount of guidance this is the
              class for you. Led by a Kundalini, Buddhist or Yogic
              teacher, there are many ways to work with mantras to
              stimulate energy, cultivate a quality or relax the mind
              and body. As you repeat a mantra you can release deeply
              held stress in your body while waking you up in a major
              way.
            </p>
            <a class="full-width button" href="{{ url('studio-select') }}">
              <button>Book a Cushion</button>
            </a>
          </div>
        </div>

        <div class="col-xs-12 col-md-4 item">
          <object data="/assets/img/classes/Heart-01.svg" type="image/svg+xml"></object>
          <div class="title">
            Heart
          </div>
          <div class="info">
            <p>
              Connect with your own tender heart. This class
              encompasses loving kindness practices and ways to become
              more compassionate and empathetic toward others. Be
              guided step-by-step in opening your heart to the people
              you love, the people you dislike, and the myriad of
              people in your life you don’t know very well.
            </p>
            <a class="full-width button" href="{{ url('studio-select') }}">
              <button>Book a Cushion</button>
            </a>
          </div>
        </div>

        <div class="col-xs-12 col-md-4 item">
          <object data="/assets/img/classes/Energy-01.svg" type="image/svg+xml"></object>
          <div class="title">
            Energy
          </div>
          <div class="info">
            <p>
              Our signature Kundalini class. Who needs caffeine? For
              those seeking a good amount of guidance, you can work with
              the breath or mantras to natural increase your energy
              levels. Every moment has its energy. Instead of letting it
              ride you, learn to ride the energy of this very moment.
            </p>
            <a class="full-width button" href="{{ url('studio-select') }}">
              <button>Book a Cushion</button>
            </a>
          </div>
        </div>

        <div class="col-xs-12 col-md-4 item">
          <object data="/assets/img/classes/Listening_Icon.svg" type="image/svg+xml"></object>
          <div class="title">
            Listening
          </div>
          <div class="info">
            <p>
              Learn to be fully present with the people in your life
              through tuning into the present moment. We're always in
              conversation with people, whether it's those we live with,
              people we connect with online or even the people we see on
              the subway, so let's learn to show up fully and
              authentically for them through deep listening practices.
            </p>
            <a class="full-width button" href="{{ url('studio-select') }}">
              <button>Book a Cushion</button>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="bg-image private-instruction">
    <h1>Private Instruction</h1>
  </div>

  <section class="section">
      <br>
    <div class="row">
      <div class="col-md-offset-2 col-md-6">
        <div class="body-2">
          Want some solo time with your favorite teacher? <br>
          Try private instruction.
        </div>
        <br>
        <div class="body-3">
          We offer private instruction with all of our teachers. In hour-long
          sessions with your teacher, you will receive personal guidance on how
          best to establish a regular practice, overcoming specific challenges you
          may have, suggestions for classes to take, books to read to augment your
          experience, and even how meditation can enrich your work, family, social
          or romantic life.
        </div>
        <br>
        <div class="body-2">
          Not sure where to start? 
        </div>
        <br>
        <div class="body-3">We can work with you to understand your goals
          for a practice in order to pair you with a teacher who is best suited for
          you.
        </div>
        <br>
        <div class="body-3">
          While it's nice to do a one hour tune-up session we recommend meeting
          five times with a teacher so they can get to know you best and give
          on-going guidance to deepen your practice.
        </div>
        <br>
        <div class="body-3">
          To arrange a session or to inquire about discounts on five packs please
          email 
           <strong> 
           <a class="email" href="mailto:village@mndflmeditation.com">village@mndflmeditation.com</a></strong>.

          Price: $160 / session.
          <br>
          <br>
        </div>
      </div>
    </div>
  </section>


  <div class="bg-image happenings">
    <h1>Happenings</h1>
  </div>

  <section class="section center">
    <h3>
      Let’s party. Our 90 minute Happenings involve more of everything.
      More background and teachings on the topic at hand.  More
      meditation.  More time to get into how this whole thing applies to
      your daily life.
    </h3>
    <h3>
      Featuring MNDFL’s expert faculty or
      special guest stars, events are an opportunity to
      really go deep with meditation and community bonding.
    </h3>
    <a class="button" href="{{ url('zingfit-main') }}">
      <button>
        See Happenings Schedule
      </button>
    </a>
  </section>
  <a name="pricing"></a>
  <section class="schedule bg-bright-green">

    <div class="container">
      <div class="center">
        <div class="title">
          Class Pricing
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="heading">
            30 Minute Classes
          </div>
          <div class="description">
            <p>First Time Class – $10
            <p>30 Minute Single Class – $18
            <p>30 Minute 5-Class Pack – $80
            <p>30 Minute 10-Class Pack – $150
          </div>
          <div class="heading">
            45 Minute Classes
          </div>
          <div class="description">
            <p>First Time Class – $10
            <p>45 Minute Single Class – $25
            <p>45 Minute 5-Class Pack – $115
            <p>45 Minute 10-Class Pack – $220
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="heading">
            Private instruction
          </div>
          <div class="description">
            <p>1 Hour Private Individual Instruction - $160*
            <p>*prices start at this rate
          </div>
          <div class="heading">
            Unlimited Memberships
          </div>
          <div class="description">
            <p>First Month Unlimited – $75
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="heading">
            Drop by anytime
          </div>
          <div class="description">
            <p>During business hours, when classes are not
            in session, our studio is always open for
            self-guided practice in lieu of formal classes.
            This service is $5 for non-members and free for
            monthly members.
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.8/angular-resource.min.js"></script>
<script>
  var app = angular.module('class-list', []);
  app.controller("ClassListCtrl", function($scope) {
    $scope.classes = ['1'];
  });
</script>
{% endblock content %}
