
{% extends "base.html" %}

{% block title %}Rental{% endblock title %}
{% block content %}

<div class="rentals-page">
  <div class="hero">
    <h1>Rental @MNDFL</h1>
  </div>

  <section class="section center">
    <h3>
      Our MNDFL studio is available for your next event. <br>
      We provide the space, you provide the production. <br>
      Your guests enjoy it all.
    </h3>
  </section>

  <section class="container locations section">
    <div class="row location">
      <div class="greenwich-village col-md-5 col-xs-12">
      </div>
      <div class="col-xs-12 col-md-offset-1 col-md-6">
        <div class="information">
          <div class="name">
            Greenwich Village
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="address">
                10 East 8th Street<br>
                New York, NY 10002<br>
                <br>
                212.477.0487<br>
                village@mndflmeditation.com
              </div>
            </div>
            <div class="col-xs-6">
              <div class="address">
                <strong>Capacity</strong><br>
                30<br>
                <br>
                <strong>Amenities</strong><br>
                Wifi
              </div>
            </div>
          </div>
          <a class="button" href="mailto:village@mndflmeditation.com">
            <button>
              Rent @MNDFL Greenwich Village
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
