
{% extends "base.html" %}

{% block title %}@Work{% endblock title %}
{% block content %}
<div class="work">
  <div class="hero">
    <h1>@Work</h1>
  </div>

  <section class="section center">
    <h3>
      MNDFL believes that meditation can transform your company.  We
      offer custom packages for your company's meditation needs. You'll
      find that at least one of these three offerings will bring more
      mindfulness to your office environment. 
    </h3>
    <a class="button" href="mailto:info@mndflmeditation.com">
      <button>
        Get MNDFL @Work
      </button>
    </a>
  </section>

  <section class="container routines section">
    <div class="row">
      <div class="pillows col-md-6">
      </div>
      <div class="col-md-5 routines-list">
        <div class="routine">
          <div class="counter">
            Offering One
          </div>
          <div class="title">
            Your employees come to us
          </div>
          <div class="description">
            Your employees receive meditation training from our expert
            meditation teachers in our beautiful and convenient
            space.
          </div>
        </div>
        <div class="routine">
          <div class="counter">
            Offering Two
          </div>
          <div class="title">
            Our teachers come to you
          </div>
          <div class="description">
            MNDFL’s expert faculty visits your company, meets one-on-one
            with executives and leads group sessions, in order to
            integrate meditation into your culture.
          </div>
        </div>
        <div class="routine">
          <div class="counter">
            Offering Three
          </div>
          <div class="title">
            We build MNDFL at your office
          </div>
          <div class="description">
            MNDFL customizes and builds out an accessible meditation
            space at your company, supplies teachers to lead courses and
            offer one-on-ones.
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
{% endblock content %}
